<footer class="footer">
    <div class="container container--lg">
        <div class="footer__year">
            <a href="#" class="year fadeIn">
              <span>2019</span>
              <span class="year__top-left"></span>
              <span class="year__top-right"></span>
              <span class="year__bottom-left"></span>
              <span class="year__bottom-right"></span>
            </a>
          </div>
    <div class="footer__features">
        <div class="footer__logos fadeIn">
            <a href="#"><img src="../../icons/master-card-white.svg" alt="" class="img-fluid"></a>
            <a href="#"><img src="../../icons/AlfaBank-white.svg" alt="" class="img-fluid"></a>
            <a href="#"><img src="../../icons/ukrsocbank-white.svg" alt="" class="img-fluid"></a>
        </div>
        <div class="footer__description">
            <h3>Усі види банківських послуг. АТ «Альфа-Банк». Ліцензія НБУ №61 від 05.10.2011 р</h3>
        </div>
    </div>
</div>
</footer>