<header class="header">
   <div class="container container--lg">
       <div class="header__inner">
           <div class="header__logos">
               <a href="" class="header__logo fadeIn" style="transition-duration: 3s">
                <img src="../../icons/AlfaBank.svg" alt="" class="img-fluid"/>
               </a>
               <a href="" class="header__logo fadeIn" style="transition-duration: 5s">
                <img src="../../icons/ukrsocbank.svg" alt="" class="img-fluid"/>
               </a>
               <a href="" class="header__logo fadeIn" style="transition-duration: 7s">
                <img src="../../icons/master-card.svg" alt="" class="img-fluid"/>
               </a>
           </div>
           <div class="header__year fadeIn">
              <img src="../../img/year.png" alt="" class="img-fluid"/>
           </div>
       </div>
   </div>
</header>
